<app-header></app-header>
<body class="main-wrapper" [ngClass]="{'custom-body-loader' : isCustomLoading}">
  <div class="loader" [ngClass]="{'d-block' : isLoading}">
    <div class="progress" >
      <div class="indeterminate"></div>
    </div>
  </div>
  <div class="alert alert-dismissible fade show w-25 alert-custom"
       [innerHTML]="alertText"
  [ngClass]="{'d-block': showAlert,'d-none': !showAlert, 'alert-success': alertType === 'success',
  'alert-danger': alertType === 'error', 'alert-info': alertType === 'info'}">
  </div>
  <router-outlet></router-outlet>
</body>
